#buttons{
    display: flex;
    justify-content: center;
    border: solid black 1px;
}

#login, #signup {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid black 1px;
    background-color: lightgray;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#login:hover, #signup:hover {
    background-color: darkgray;
}